/* HEADER */

#header-nav {
	border: 0;
	border-radius: 0;
	background-color: #EFEFEF;
}

#nav-list a {
	text-align: center;
}

/* END HEADER */

/* CONTENT */

.dish-tile {
	background-color: #EFEFEF;
	padding: 15px;
	margin-bottom: 20px;
}

.dish-title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 10px;
}

#menu-title {
	margin-bottom: 40px;
}

/*END CONTENT */